<%-include("partials/header")-%>

<div class="container hp-container">

  <div class="row">

    <div class="col-md-6 home-page-menu">
      <h1 id="main-title">
        <span class="red-span">S</span>
        <span class="green-span">I</span>
        <span class="blue-span">M</span>
        <span class="yellow-span">O</span>
        <span class="purple-span">N</span>
      </h1>
      <h4 class="sub-title">Web Arcade</h4>
      <div class="hp-btn-wrapper">
        <a href="/game">
          <button class="btn btn-danger btn-lg play-btn" type="button" name="button">Play</button>
        </a>
        <a href="/leaderboard-individual">
          <button class="btn btn-outline-dark btn-md leaderboard-btn" type="button" name="button">Leaderboard</button>
        </a>
      </div>
    </div>

    <div class="col-md-6 how-to-play">
      <h3 class="tutorial-title">How to Play</h3>
      <img class="img-placeholder" src="/images/tutorial.gif" alt="Tutorial">
    </div>
  </div>




</div>




<%-include("partials/footer")-%>
