<%-include('partials/header')-%>
<div class="container result-container">

  <h1 id="score-title">Your Score</h1>
  <h1 class="display-score">
    <%=playerScore%>
  </h1>

  <div class="option-wrapper">
    <a href="/game">
      <button class="btn btn-lg btn-danger play-btn" type="button" name="button">Try Again</button>
    </a>
    <a href="/">
      <button id="home-btn-result" class="btn btn-lg btn-outline-dark home-btn" type="button" name="button">Home</button>
    </a>
    <h2 class="or">Or</h2>
    <form class="submit-name" action="/leaderboard" method="post">
      <input class="player-name-input form-control" type="text" name="playerName" placeholder="Type your name here" required>
      <button class="btn btn-md btn-primary submit-btn" type="submit" name="submit">Submit to Leaderboard</button>
    </form>
  </div>
</div>
<%-include('partials/footer')-%>
